body{
    margin: 0;
    background-color: slategray;
    }
#main p{
    color: white;
    /*font-size: 300px;*/
    font-size: 30vw;
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#vote-box {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-color: red;
    
}